@font-face {
  font-family: 'Raleway';
  src: url('font/Raleway.ttf') format('truetype'),
  url('font/Raleway.eot') format('eot'),
  url('font/Raleway.woff') format('woff'),
  url('font/Raleway.svg') format('svg');
}


body
{
  font-size: 1em;
  font-family: Raleway, Arial, "Times New Roman", serif;
  width: 1340px;
  margin: auto;
}

#top
{
  display: flex;
  justify-content: space-between;
}

#top_right
{
  display: flex;
}

nav
{
  display: flex;
}

a
{
  text-decoration: none;
  color: black;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;

  padding-top: 10px;
}

a:hover
{
  color: #0065FC;
  border-top: 2px solid #0065FC;

}

#inscrire
{
  color: #0065FC;
}

#hebergement
{
  background-color: #F2F2F2;
}

.hebergement
{
  border: 5px white solid;
  border-radius: 15px;
  width: 236px;
  background-color: white;
/*  position: relative;
  z-index: 1;*/

}

img
{
  /*border-radius : 10px;*/
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
 /* position: relative;
  right: 1px;
  z-index: 2*/;
 /* width: 236px;
  height: 114px;*/
  /*background: url(img/auberge_cannebiere.jpg) no-repeat;*/
}

.text
{
  width: 225px;
  margin-left: -2px;
  font-size: 12px;
  padding-left: 16px;
  margin-top: -5px;
  /*background-color: white;*/
}


i
{
  color: blue;
}
