@font-face { /* police utilisé pour le site */
  font-family: 'Raleway';
  src: url('font/Raleway.ttf') format('truetype'),
  url('font/Raleway.eot') format('eot'),
  url('font/Raleway.woff') format('woff'),
  url('font/Raleway.svg') format('svg');
}


body
{
  font-size: 1em;
  font-family: Raleway, Arial, "Times New Roman", serif;
}

#page /* pour toute la page sauf le footer */
{
  width: 95%;
  margin:auto;
  max-width: 1450px;

}

#logo
{
  width: 100px;
}


#top /* logo, nav et bouton "s'inscrire" */
{
  display: flex;
  justify-content: space-between;
  position: relative;
}


nav
{
  display: flex;
  margin-right: 100px;
}

#top #inscrire /* bouton "s'inscrire" */
{
  color: #0065FC;
  position: absolute;
  top:2px;
  right: 0px;
  text-decoration: none;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;
  padding-top: 13px;
  border-top: 2px solid white;
}

nav a /* tous les liens de nav */
{
  text-decoration: none;
  color: black;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;
  padding-top: 13px;
  border-top: 2px solid white;
}

section a /* tous les liens contenus dans des sections */
{
  text-decoration: none;
  color: black;
}

nav a:hover, #top #inscrire:hover /* permet de changer la couleur et ajoute la bordure bleue au survol des boutons de nav et "s'inscrire" */
{
  color: #0065FC;
  border-top: 2px solid #0065FC;
}


#form /* formulaire de recherche de ville */
{
  display: flex;
  background-color: #F2F2F2;
  border-radius: 15px;
  width: 435px;
  height: 51px;
  align-items: center;
}

.fa-map-marker-alt /* icone de position de la recherche */
{
  color: black;
  padding-left: 19px;
  padding-right: 19px;
}

#form p strong /* bouton "rechercher" */
{
  display: flex;
  color: white;
  background-color: #0065FC;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 134px;
  min-width: 134px;
  height: 51px;
  align-items: center;
  justify-content: center;
}

#form p i /* permet de masquer l'icone de loupe de la version mobile */
{
  display: none;
}

input[type="text"] /* champ de saisie de la ville */
{
  width: 234px;
  min-width: 234px;
  height: 47px;
  border: none;
  padding-left: 15px;
  font-weight: bold;
  font-size: 1.2em;
}


#filtres /* section contenant les filtres */
{
  display: flex;
  margin-top: 30px;
}

#filtres h4
{
  margin-top: 17px;
}

#filtres_content /* section contenant les différents filtres */
{
  display: flex;
  flex-wrap: wrap;
}

.filtre /* classe attribuee a chaque filtre */
{
  display: flex;
  border-radius: 25px;
  border: 2px solid #F2F2F2;
  height: 46px;
  align-items: center;
  margin-left: 25px;
}

.filtre:hover /* permet d'ajouter une ombre grise au survol des filtres */
{
  box-shadow: 4px 4px 6px #DEEBFF;
}

.filtre div /* icone de chaque filtre */
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-left: -2px;
}

.filtre p /* texte de chaque filtre */
{
  padding-left: 15px;
  padding-right: 15px;
}

#info /* section contenant l'info */
{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#info div /* icone d'info */
{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #F2F2F2;
  border-radius: 50%;
  width: 22px;
  min-width: 22px;
  height: 22px;
  margin-right: 10px;
}

#info h5 /* texte de l'info */
{
  font-weight: normal;
  font-size: 1em;
}

#content /* section contenant le contenu dur du site (hebergement, les plus populaires, activités) */
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


#hebergement /* section contenant les hebergement a marseille */
{
  background-color: #F2F2F2;
  border-radius: 15px;
  width: 66%;
  min-height: 625px;
  margin-bottom: 10px;
}

.debut /* classe attribuée au contenu situé au dessus des cartes */
{
  margin-left: 25px;
  padding-top: 20px;
}

.fin /* classe attribuée au contenu situé en dessous des cartes */
{
  margin-left: 25px;
  margin-top: 0px;
}

#hebergement_items /* section contenant toutes les cartes d'hebergement */
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.hebergement /* classe attribué à chaque carte d'hebergement */
{
  border: 5px white solid;
  border-radius: 15px;
  width: 236px;
  background-color: white;
  margin-bottom: 30px;
  height: 200px;
  box-shadow: 6px 6px 15px lightgray;
}

.hebergement .text h3 /* nom de l'hebergement */
{
  margin-top: 6px;
  margin-bottom: 0px;
}

.text h3 /* nom de : l'hebergement, l'hebergement populaire ou l'activité */
{
  font-size: 1.4em;
  font-weight: bold;
}

.hebergement .text p /* prix de l'hebergement */
{
  margin-top: 6px;
  margin-bottom: 6px;
}

.fa-star.gray /* rend les étoiles de notation grise */
{
  color: gray;
}

.star /* icones étoile */
{
  margin-left: 14px;
}

.hebergement img /* image des hebergement */
{
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}

.text /* texte de toutes les cartes */
{
  width: 225px;
  font-size: 12px;
  padding-left: 14px;
}

#populaires /* section des hebergement populaires */
{
  position: relative;
  width: 31%;
  min-width: 310px;
  background-color: #F2F2F2;
  border-radius: 15px;
  height: 625px;
}

.fa-chart-line /* icone de graphique */
{
  color: black;
  position: absolute;
  top: 45px;
  right: 40px;
}

#populaires_items /* section contenant toutes les cartes les plus populaires */
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

#populaires a /* lien vide contenant les cartes populaires */
{
  width: 90%;
  margin: auto;
}

.populaires /* classe attribuée a chaque carte populaire */
{
  display: flex;
  border-radius: 15px;
  background-color: white;
  height: 144px;
  box-shadow: 6px 6px 15px lightgray;
}

.populaires img /* images des hebergement populaires */
{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.populaires .text /* texte des cartes populaires */
{
  position: relative;
  height: 130px;
  width: 190px;
}

.populaires .text p /* prix des cartes populaires */
{
  margin-top: -5px;
}

.populaires .text div /* placement des étoiles de notation des populaires */
{
  position: absolute;
  bottom: 0px;
}

#activites /* section contenant les activités a marseille */
{
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
}

.activite /* carte de chaque activité */
{
  border-radius: 15px;
  box-shadow: 6px 6px 15px lightgray;
}

.activite img /* image des activités */
{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: inherit;
  height: inherit;
}

.imgact /* box contenant les images des activités */
{
  width: 302px;
  height: 389px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.fort /* box contenant l'image du fort */
{
  height: 181px;
}

.frioul /* box contenant l'image de frioul */
{
  height: 109px;
}

.garde_longchamp /* boxs contenant les images de notre dame et du parc longchamp */
{
  height: 145px;
}

.activite .text /* text des activités */
{
  padding-bottom: 10px;
}

.column /* classe pour les cartes à afficher en colonne */
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#activites_items /* section contenant toutes les cartes d'activité */
{
  height: 450px;
  max-height: 450px;
  display: flex;
  justify-content: space-between;
}

footer /* pied de page */
{
  display: flex;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 95%;
  margin: auto;
  max-width: 1450px;
}

footer section /* section du foote */
{
  margin-right: 220px;
}

i /* affiche tous les icones en bleu */
{
  color: blue;
}

@media all and (max-width: 480px) /* ensemble de regles CSS pour les ecrans de moins de 480px */
{

  body
  {
    font-size: 1.5em;
  }

  #page /* toute la page */
  {
    width: 100%;
  }

  #logo
  {
    margin-left: 20px;
    margin-top: 8px;
    width: 120px;
  }

  #top /* logo, nav et bouton s'inscrire */
  {
    flex-direction: column;
  }

  nav
  {
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-top: 30px;
  }

  nav a
  {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    padding-top: 13px;
    padding-bottom: 15px;
    border-bottom: 5px solid #F2F2F2;
    border-top: none;
  }

  nav a:hover /* bordure bleu en bas des boutons de nav au survol */
  {
    border-top: none;
    border-bottom: 5px solid #0065FC;
  }

  #top #inscrire:hover /* pas de changement au survol du bouton s'inscrire */
  {
    border-top: none;
  }

  h2 /* titres des sections hebergement, populaires et activites*/
  {
    font-size: 1.2em;
  }

  header h1 /* titre de la page */
  {
    padding-left: 20px;
    font-size: 1.2em;
  }

  header p /* sous titre de la page */
  {
    padding-left: 20px;
  }

  #filtres /* section contenant les filtres */
  {
    flex-direction: column;
    margin-left: 20px;
  }

  #filtres_content /* section contenant les différents filtres */
  {
    flex-wrap: wrap;
    margin-left: -20px;
  }

  .filtre /* classe attribuee a chaque filtre */
  {
    margin-top: 20px;
  }



  #form /* formulaire de recherche de ville */
  {
    width: 90%;
    margin: auto;
  }

  #form p strong  /* bouton "rechercher" */
  {
    display: none;
  }

  #form p i /* icone de loupe de la version mobile */
  {
  display: flex;
  color: white;
  background-color: #0065FC;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 51px;
  min-width: 51px;
  height: 51px;
  align-items: center;
  justify-content: center;
  }

  input[type="text"] /* champ de saisie de la ville */
  {
   width: 80%;
   min-width: 100px;
   font-size: 0.8em;
  }

  form /* permet au champ de recherche d'occuper la place disponible */
  {
    display: contents;
  }

  #info div /* icone d'info */
  {
    width: 35px;
    height: 35px;
    min-width: 35px;
    border:2px solid #F2F2F2;
    margin-left: 20px;
  }

  .text /* texte des cartes */
  {
    font-size: 0.6em;
  }

  .text h3 /* titre des cartes */
  {
    font-size: 1.2em;
  }

  #content /* section contenant le contenu dur du site (hebergement, les plus populaires, activités) */
  {
    flex-direction: column;
  }

  #populaires /* section contenant les hebergements populaires */
  {
    border-radius: 0px;
    order: 1;
    width: 100%;
    min-width: 0px;
    height: 570px;

  }


  #populaires_items /* section contenant toutes les cartes les plus populaires */
  {
    width: auto;
    height: 460px;
  }


  #activites /* section contenant les activités a marseille */
  {
    order: 3;
  }

  section a /* box lien des cartes */
  {
    width: 90%;
    margin: auto;
  }

  .populaires /* classe attribuée a chaque carte populaire */
  {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }

  .populaires .text p  /* prix des cartes populaires */
  {
    margin-top: -10px;
  }

  #hebergement /* section contenant les hebergement a marseille */
  {
    background-color: white;
    width: 100%;
    order:2;
  }

  .hebergement /* classe attribué à chaque carte d'hebergement */
  {
    margin-bottom: 20px;
    width: 100%;
    height:auto;
  }

  .hebergement img /* image des hebergement */
  {
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .star .fa-sm /* taille des icones etoile */
  {
    font-size: .7em;
  }

  .fin /* "afficher plus" */
  {
    margin-top: 20px;
  }

  #activites /* section contenant les activités a marseille */
  {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  #activites_title /* titre "activite a marseille" */
  {
    margin-left: 20px;
  }

  #activites_items  /* section contenant toutes les cartes d'activité */
  {
    height: auto;
    max-height: none;
    width: auto;
    flex-direction: column;
  }

  .imgact /* box contenant les images des activités */
  {
    height:135px;
    width: auto;

  }

  .imgact img /* image des activites */
  {
    width: -webkit-fill-available;
    width: -moz-available;
    height: auto;
  }

  .port img /* image du port */
  {
    margin-top: -100px;
  }

  .fort img /* image du fort */
  {
    margin-top: -50px;
  }


  .calanques img /* image des calanques */
  {
    margin-top: -240px;
  }

  .garde_longchamp /* images de notre dame et du parc longchamp */
  {
    margin-top: -20px;
  }

  #activites a /* box lien des activites */
  {
    width: 335px;
    margin-bottom: 30px;
  }

  .activite .text /* texte des activites */
  {
    width: auto;
    padding-bottom: 1px;
  }

  h3 /* titre des cartes */
  {
    font-size: 1em;
  }

  footer /* pied de page */
  {
    flex-direction: column;
    font-size: 0.7em;
  }

  footer section
  {
    margin-right: 0px;
  }

}

@media all and (min-width: 480px) and (max-width: 1024px) /* regles pour les ecrans dont la largeur est comprise entre 480px et 1024px */
{
  #activites_items /* section contenant toutes les cartes d'activité */
  {
    flex-wrap: wrap;
    height: auto;
    max-height: none;
    max-width: 905px;
    min-height: 920px;
    margin: auto;
    justify-content: space-around;
    align-content: space-between;

  }

  .activite  /* carte de chaque activité */
  {
    margin-bottom: 15px;
  }

  #populaires /* section des hebergement populaires */
  {
    order:1;
    width: 100%;
    height: auto;
  }

  #populaires_items  /* section contenant toutes les cartes les plus populaires */
  {
    flex-direction: unset;
    flex-wrap: wrap;
    height: auto;
  }


  #populaires a /* lien vide contenant les cartes populaires */
  {
    width: auto;
    margin-bottom: 15px;
  }

  #hebergement /* section contenant les hebergement a marseille */
  {
    order: 2;
    width: 100%;
    background-color: white;
  }

  .filtre  /* classe attribuee a chaque filtre */
  {
    margin-bottom: 15px;
  }

  #activites  /* section contenant les activités a marseille */
  {
    order:3;
  }

  footer
  {
    flex-wrap: wrap;
  }

  footer section
  {
    margin-right: 50px;
  }
}
